/* 放公共样式 */
/* 版心 */
.container {
    width: 1240px;
    margin: 0 auto;
}
/* 调试用的边框 */
.bd {
    border: 1px solid #f00;
    box-sizing: border-box;
}

/* 浮动、清除浮动 */
.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:after {
    content: '';
    height: 0;
    display: block;
    clear: both;
}