@font-face {
  font-family: "iconfont"; /* Project id 3865227 */
  src: url('iconfont.woff2?t=1673851657269') format('woff2'),
       url('iconfont.woff?t=1673851657269') format('woff'),
       url('iconfont.ttf?t=1673851657269') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huiyuanzhuanxiang:before {
  content: "\e604";
}

.icon-tianjiadao:before {
  content: "\e605";
}

.icon-bofangMV:before {
  content: "\e606";
}

.icon-jubao:before {
  content: "\e607";
}

.icon-shunxubofang:before {
  content: "\e608";
}

